/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-nav {
  display: flex;
  justify-content: center;
}
.main-nav .nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 1% 0;
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #151924;
  position: fixed;
  z-index: 1;
}
.main-nav .nav a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
body,
html {
  height: 100%;
  margin: 0;
}
.bg-container {
  height: 100%;
  background: url("../img/board-playing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-container .logo-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-container .logo-btn-container .logo {
  margin-top: 160px;
  margin-right: 16px;
  position: relative;
}
.bg-container .logo-btn-container .logo .knight-head {
  width: 16rem;
  position: absolute;
  transform: scaleX(-1);
}
.bg-container .logo-btn-container .logo .knight-body {
  width: 16rem;
  position: relative;
  transform: scaleX(-1);
}
.bg-container .logo-btn-container .log-in-btn {
  height: 50px;
  width: 150px;
  margin-top: 4%;
  font-size: 2.5rem;
  color: white;
  background-color: #151924;
  border: 1px solid white;
  border-radius: 30px;
}
.bg-container .logo-btn-container .log-in-btn:hover {
  color: #151924;
  background-color: white;
  border: 1px solid #151924;
}
