/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-nav .filler-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.main-nav .filler-container .filler1 {
  height: 18px;
  width: 4px;
  background-color: #151924;
  opacity: 0.9;
  border-bottom-left-radius: 100%;
}
@media (max-width: 800px) {
  .main-nav .filler-container .filler1 {
    height: 32px;
  }
}
.main-nav .filler-container .filler2 {
  height: 18px;
  width: 4px;
  background-color: #151924;
  opacity: 0.9;
  border-bottom-right-radius: 100%;
}
@media (max-width: 800px) {
  .main-nav .filler-container .filler2 {
    height: 32px;
  }
}
.main-nav .nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 3px 0;
  border-bottom: 2.5px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #151924;
  opacity: 0.9;
}
.main-nav .nav a {
  margin-bottom: 3px;
  padding: 0 1%;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.main-nav .nav a:hover {
  border-bottom: 1.5px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
  padding-bottom: 1.5px;
}
.main-nav .nav:hover {
  opacity: 1;
}
@media (max-width: 800px) {
  .main-nav .nav {
    width: 80%;
    padding: 16px 0;
  }
}
@media (max-width: 500px) {
  .main-nav .nav {
    width: 95%;
    padding: 16px 0;
  }
}
body,
html {
  height: 100%;
  margin: 0;
}
.bg-container {
  height: 100%;
  background: url("../img/board-playing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-container-content {
  display: flex;
  height: 100%;
  width: 100%;
}
.bg-container-content .left-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 33%;
  opacity: 0;
}
.bg-container-content .left-section h1 {
  margin-top: 30%;
  margin-left: 50%;
  width: 30%;
  color: white;
  font-size: 8rem;
}
.bg-container-content .logo-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.bg-container-content .logo-btn-container .logo {
  margin-top: 30%;
  margin-right: 16px;
  position: relative;
}
.bg-container-content .logo-btn-container .logo .knight-head {
  width: 16rem;
  position: absolute;
  transform: scaleX(-1);
  opacity: 0;
}
.bg-container-content .logo-btn-container .logo .knight-seperator {
  width: 16rem;
  position: absolute;
  z-index: 1;
  transform: scaleX(-1);
}
.bg-container-content .logo-btn-container .logo .knight-body {
  width: 16rem;
  transform: scaleX(-1);
  opacity: 0;
}
.bg-container-content .logo-btn-container .log-in-btn {
  height: 50px;
  width: 160px;
  margin-top: 4%;
  font-size: 2.5rem;
  color: white;
  background-color: #151924;
  border: 3.5px solid white;
  border-radius: 30px;
  opacity: 0;
  outline: none;
}
.bg-container-content .logo-btn-container .log-in-btn:hover {
  color: #151924;
  background-color: white;
  border: 1px solid #151924;
}
.bg-container-content .right-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 33%;
}
.bg-container-content .right-section .log-in-panel {
  width: 250px;
  max-height: 100%;
  margin-top: 30%;
  margin-right: 50%;
  padding: 4%;
  background-color: white;
  color: #151924;
  border-radius: 30px;
  opacity: 0;
}
.bg-container-content .right-section .log-in-panel h3 {
  font-size: 1.4rem;
  line-height: 0;
}
.bg-container-content .right-section .log-in-panel input {
  width: 100%;
  height: 28px;
  padding-left: 6px;
  border: 1px solid #151924;
  border-radius: 4px;
  outline-color: #151924;
}
.bg-container-content .right-section .log-in-panel .user-name {
  margin-top: 6%;
}
.bg-container-content .right-section .log-in-panel .password {
  margin-top: 10%;
}
.bg-container-content .right-section .log-in-panel .submit {
  height: 50px;
  width: 100%;
  margin-top: 10%;
  border: 1.5px solid #151924;
  border-radius: 20px;
  background-color: white;
  color: #151924;
  font-size: 2.5rem;
  outline: none;
}
.bg-container-content .right-section .log-in-panel .submit:hover {
  border: 3.5px solid #151924;
  background-color: #151924;
  color: white;
}
@media (max-width: 800px) {
  .bg-container-content {
    flex-direction: column;
  }
  .bg-container-content .left-section {
    width: 100%;
    opacity: 0;
  }
  .bg-container-content .left-section h1 {
    margin-left: 0;
    margin-top: 20%;
    width: 100%;
    color: white;
    font-size: 12vw;
    text-align: center;
  }
  .bg-container-content .logo-btn-container {
    width: 100%;
  }
  .bg-container-content .logo-btn-container .logo {
    margin-top: 0%;
  }
  .bg-container-content .right-section {
    width: 100%;
  }
  .bg-container-content .right-section .log-in-panel {
    margin-top: 4%;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .bg-container-content {
    flex-direction: column;
  }
  .bg-container-content .left-section {
    width: 100%;
    opacity: 0;
  }
  .bg-container-content .left-section h1 {
    margin-left: 0;
    margin-top: 20%;
    width: 100%;
    color: white;
    font-size: 12vw;
    text-align: center;
  }
  .bg-container-content .logo-btn-container {
    width: 100%;
  }
  .bg-container-content .logo-btn-container .logo {
    margin-top: 0%;
  }
  .bg-container-content .right-section {
    width: 100%;
  }
  .bg-container-content .right-section .log-in-panel {
    margin-top: 4%;
    margin-right: 0;
  }
}
.seperator-1 {
  height: 140px;
  width: 100%;
  margin-top: -50px;
  background-color: #151924;
  position: relative;
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .seperator-2 {
  height: 140px;
  width: 100%;
  margin-bottom: -70px;
  background-color: #151924;
  position: relative;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.home .back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px 0;
  background-color: #151924;
}
.home .back-to-top .button {
  width: 100%;
  padding: 3% 0 2%;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #151924;
  border-top: 3.5px solid white;
  border-radius: 50% 50% 0 0;
  outline: none;
  position: relative;
  z-index: 1;
}
.home .back-to-top .button:hover {
  color: #151924;
  background-color: white;
  border: 3px solid #151924;
}
.home .back-to-top .arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -28px;
  opacity: 0;
}
.home .back-to-top .arrows .arrow {
  width: 200px;
  height: 100px;
  filter: invert(100%);
}
.home .back-to-top .arrows .arrow-2 {
  margin-top: -90px;
}
.features-section {
  width: 100%;
}
.features-section .features-title {
  width: 100%;
  padding: 1.5% 0;
  text-align: center;
  border-bottom: 2.5px solid #151924;
  border-radius: 0 0 50% 50%;
}
.features-section .features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-section .features h3 {
  font-size: 2rem;
  padding: 2% 0;
}
.features-section .features img {
  width: 30%;
  height: 30%;
}
.features-section .features .feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  padding: 7% 0;
  border-bottom: 2px dashed #151924;
  border-radius: 0 0 2% 2%;
}
.features-section .features .feature .content {
  margin-right: 6%;
  text-align: center;
  width: 45%;
}
.features-section .features .feature .content h3 {
  margin-bottom: 4%;
  padding-bottom: 4%;
  border-bottom: 2px solid #151924;
}
.features-section .features .feature .content p {
  text-align: center;
}
.features-section .features .feature:last-child {
  border-bottom: none;
}
.features-section .features .feature-1 .ranks {
  width: 50%;
}
.features-section .features .feature-2 .content {
  margin-left: 4%;
  margin-right: 0;
}
@media (max-width: 500px) {
  .features-section .features img {
    width: 70%;
  }
  .features-section .features .feature {
    flex-direction: column-reverse;
  }
  .features-section .features .feature .content {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    width: 90%;
  }
  .features-section .features .feature .content p {
    text-align: justify;
  }
  .features-section .features .feature-2 {
    flex-direction: column;
  }
}
.team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151924;
}
.team-section .our-team-title {
  margin-top: -42px;
  color: white;
}
.team-section .seperator-3 {
  height: 140px;
  width: 100%;
  margin-top: 1.5%;
  border-top: 2.5px solid white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.team-section .team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}
.team-section .team .card {
  width: 300px;
  height: 100%;
  margin: 0 10px 40px 20px;
  padding: 0%;
  background-color: white;
  color: white;
  border: 3.5px solid white;
  border-radius: 15px;
}
.team-section .team .card img {
  border-radius: 14px;
  margin-bottom: 6%;
}
.team-section .team .card h2 {
  margin: 0 8%;
  color: black;
}
.team-section .team .card p {
  margin: 0 8% 4%;
  color: black;
}
@media (max-width: 800px) {
  .team-section .team .card {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .team-section .team .card {
    width: 80%;
  }
}
