.seperator-1 {
	height: 140px;
	width: 100%;
	margin-top: -50px;
	background-color: @mirage;
	position: relative;
	z-index: -1;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	// .about-us {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-content: center;
	// 	width: 50%;
	// 	margin: 3% 0;

	// 	.about-us-h2 {
	// 		width: 49%;
	// 		align-self: center;
	// 	}

	// 	.about-us-content {
	// 		width: 49%;

	// 		h3 {
	// 		font-size: 2rem;
	// 		margin-bottom: 2%;
				
	// 		}
			
	// 		p {

	// 		}
	// 	}
	// }//about-us

	//features-section

	.seperator-2 {
		height: 140px;
		width: 100%;
		margin-bottom: -70px;
		background-color: @mirage;
		position: relative;
		z-index: -1;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}

	//team-section

	.back-to-top {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 40px 0;
		background-color: @mirage;
		
		.button {
			height: 50px;
			width: 160px;
			padding: 10px 0;
			font-size: 2.5rem;
			text-align: center;
			text-decoration: none;
			color: white;
			background-color: @homeBG-color;
			border: 3.5px solid white;
			border-radius: 30px;
			outline: none;

			&:hover {
				color: @homeBG-color;
				background-color: white;
				border: 3.5px solid @homeBG-color;
			}
		}
		
		.arrows {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: -28px;
			opacity: 0;

			.arrow {
				width: 200px;
				height: 100px;
				filter: invert(100%);
			}

			.arrow-2 {
				margin-top: -90px;
			}
		}
	}
}//home